/* ------------- Main CSS file for Onix Digital -------------- */

/* ----- NavBar Area Start ----- */
.navbar {
	height: 100px;
	transition: all 0.5s ease 0s;
}
.nav-shadow {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

@media screen and (max-width: 768px) {
	#navbarNav {
		background-color: var(--grey);
		text-align: center;
		margin-top: 10px;
	}
	#navbarNav ul li {
		border-bottom: 1px solid #e7e7e7;
	}
	#navbarNav ul li:first-child {
		border-top: 1px solid #e7e7e7;
	}
	#navbarNav ul li a {
		padding: 15px 0;
	}
	.navbar-toggler {
		border: none !important;
	}
	.navbar-toggler:focus {
		box-shadow: none !important;
	}
}
/* ----- NavBar Area End ----- */

/* ----- Hero section Start ----- */
#hero {
	height: 500px;
	margin-top: 100px;
}

/* Right side image of hero secton */
@media screen and (min-width: 992px) {
	#hero::before {
		content: "";
		background-image: url(../images/banner-right-image.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		right: 0;
		top: 100px;
		width: 550px;
		height: 445px;
		z-index: -1;
	}
}
/* Left side image of hero secton */
#hero::after {
	content: "";
	background-image: url(../images/baner-dec-left.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 100px;
	width: 280px;
	height: 500px;
	z-index: -1;
}

/* Swiper style for hero section*/
#hero .swiper {
	margin: 0;
}
@media screen and (max-width: 1200px) {
	#hero .swiper {
		width: 535px;
	}
}
@media screen and (min-width: 1200px) {
	#hero .swiper {
		width: 700px;
	}
}
@media screen and (max-width: 992px) {
	#hero .swiper {
		width: 100%;
	}
}
#hero .swiper-pagination-bullet {
	background: transparent;
	opacity: 1;
	font-size: 20px;
	font-weight: 600;
	margin: 0 10px !important;
}
#hero .swiper-pagination-bullet-active {
	color: var(--primary-color);
	text-decoration: underline;
	text-underline-offset: 5px;
	text-decoration-thickness: 3px;
	transition: all 0.4s;
}
#hero .swiper-pagination1 {
	text-align: start;
	bottom: -30px !important;
	left: -10px !important;
}
/* End swiper style */

/* ----- Hero section End ----- */

/* ----- Services section start ----- */
#services::before {
	content: "";
	background: url(../images/services-left-dec.png) no-repeat;
	position: absolute;
	top: -30px;
	left: -5px;
	width: 250px;
	height: 130%;
}

#services::after {
	content: "";
	background: url(../images/services-right-dec.png) no-repeat;
	position: absolute;
	top: 70%;
	right: 20px;
	width: 300px;
	height: 130%;
}
.my-service-card {
	box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
	border-radius: 20px;
	border: none;
	margin: 20px;
	padding: 20px;
	text-align: center;
	user-select: none;
}

/* Swiper style for services section */
#services .swiper {
	padding-bottom: 30px !important;
}
#services .swiper-pagination2 {
	bottom: 80px;
}
#services .swiper-pagination-bullet {
	background: var(--primary-color);
	width: 10px;
	height: 10px;
	opacity: 0.4;
}
#services .swiper-pagination-bullet-active {
	color: var(--primary-color);
	transition: all 0.4s;
	opacity: 1;
}
#services hr {
	color: rgba(0, 0, 0, 0.3);
}
/* ----- Services section End ----- */

/* ----- Projects Done section Start ----- */
#projects-done h2 {
	width: 100% !important;
	font-size: 30px;
	text-align: start !important;
	margin: 0;
}
#projects-done hr {
	color: rgba(0, 0, 0, 0.2);
}
/* ----- Projects Done section End ----- */

/* ----- Portfolio Section Start ----- */
#portfolio {
	overflow-x: hidden;
	overflow-y: hidden;
}
#portfolio::before {
	content: "";
	background: url(../images/portfolio-left-dec.png) no-repeat;
	position: absolute;
	top: 35px;
	left: 40px;
	width: 350px;
	height: 350px;
	z-index: -1;
}
.portfolio-card {
	margin: 0 10px;
}
.portfolio-card:hover .portfolio-card-hover {
	transform: translateY(0);
}
.portfolio-card img {
	border-radius: 20px;
	transition: 0.4s;
	width: 100%;
}
.portfolio-card:hover img {
	opacity: 0.7;
}
.portfolio-card-hover {
	position: absolute;
	bottom: 20px;
	right: 30px;
	background: url(../images/hover-bg.png) no-repeat;
	width: 250px;
	height: 215px;
	padding: 20px;
	transform: translateY(110%);
	transition: all 0.4s;
	z-index: 2;
}
.protfolio-details {
	padding: 10px;
	position: absolute;
	bottom: 10px;
	right: 30px;
}

@media screen and (max-width: 430px) {
	.portfolio-card-hover {
		padding: 0;
		bottom: -5px;
		right: 20px;
		background: url(../images/hover-bg.png) no-repeat;
		background-size: 100%;
		width: 160px;
		height: 156px;
		padding: 0px;
	}
	.protfolio-details {
		padding: 0 5px;
		position: absolute;
		bottom: 18px;
		right: 8px;
	}
}

/* Swiper navigation button style */

.swiper-button-prev,
.swiper-button-next {
	font-size: 20px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	opacity: 0.6;
	transition: 0.3s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	opacity: 1;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 16px;
}
.swiper-button-prev {
	left: 20px;
}
.swiper-button-next {
	right: 20px;
}
#portfolio .swiper-pagination-bullet {
	background: var(--primary-color);
	width: 10px;
	height: 10px;
	opacity: 0.4;
}
#portfolio .swiper-pagination-bullet-active {
	color: var(--primary-color);
	transition: all 0.4s;
	opacity: 1;
}

/* ----- Portfolio Section End ----- */

/* ------------ Utilities -------------- */
/* Main colors and Fonts variable */
:root {
	--primary-color: #ff695f;
	--secondary-color: #03a4ed;
	--white: #fff;
	--grey: #fafafa;
	/* Font */
	--primary-font: "Poppins", sans-serif;
}

/* Body font */
body {
	font-family: var(--primary-font);
}
/* Text colors */
.text-primary {
	color: var(--primary-color) !important;
}
.text-secondary {
	color: var(--secondary-color) !important;
}

/* Background colors */
.bg-primary {
	background-color: var(--primary-color) !important;
}
.bg-secondary {
	background-color: var(--secondary-color) !important;
}
.bg-grey {
	background-color: var(--grey);
}

/* Buttons */
.btn-main {
	background-color: var(--secondary-color) !important;
	color: var(--white) !important;
	transition: all 0.3s !important;
	border-radius: 23px !important;
}
.btn-main:hover {
	background-color: var(--primary-color) !important;
}

.btn-2nd {
	background-color: var(--primary-color) !important;
	color: var(--white) !important;
	transition: all 0.3s !important;
	border-radius: 23px !important;
}
.btn-2nd:hover {
	background-color: var(--secondary-color) !important;
}

/* Hover states */
.main-hover {
	transition: all 0.3s ease 0s !important;
	font-weight: 500;
}
.main-hover:hover {
	color: var(--primary-color) !important;
}

nav .active,
.nav-link.active {
	color: var(--primary-color) !important;
}

/* Others */
a {
	text-decoration: none;
}
.icon-circle {
	padding: 10px;
	border-radius: 50%;
	color: var(--white);
}
.fw-500 {
	font-weight: 600;
}
.btn:focus {
	box-shadow: none;
}

/* Main Heading */
.section-heading {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	line-height: 2.5rem;
}
.section-heading-2nd {
	font-weight: bold;
	text-align: center;
	line-height: 1rem;
	opacity: 0.4;
}
