/* ------------- Main CSS file for Onix Digital -------------- */

/* NavBar Area Start */
.navbar {
	height: 100px;
	transition: all 0.5s ease 0s;
}
.nav-shadow {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

@media screen and (max-width: 768px) {
	#navbarNav {
		background-color: var(--grey);
		text-align: center;
		margin-top: 10px;
	}
	#navbarNav ul li {
		border-bottom: 1px solid #e7e7e7;
	}
	#navbarNav ul li:first-child {
		border-top: 1px solid #e7e7e7;
	}
	#navbarNav ul li a {
		padding: 15px 0;
	}
	.navbar-toggler {
		border: none !important;
	}
	.navbar-toggler:focus {
		box-shadow: none !important;
	}
}
/* NavBar Area End */

/* Hero section Start */
#hero {
	height: 500px;
	margin-top: 100px;
}
/* .mobile-link i {
	background-color: var(--primary-color);
	transition: all 0.3s;
}
.mobile-link span {
	color: var(--primary-color);
	transition: all 0.3s;
}
.mobile-link:hover i {
	background-color: var(--secondary-color) !important;
}
.mobile-link:hover span {
	color: var(--secondary-color) !important;
} */

/* Right side image of hero secton */
@media screen and (min-width: 992px) {
	#hero::before {
		content: "";
		background-image: url(../images/banner-right-image.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		right: 0;
		top: 100px;
		width: 550px;
		height: 445px;
		z-index: -1;
	}
}
/* Left side image of hero secton */
#hero::after {
	content: "";
	background-image: url(../images/baner-dec-left.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 100px;
	width: 280px;
	height: 500px;
	z-index: -1;
}

/* Hero section End */

/* ------------ Utilities -------------- */
/* Main colors and Fonts variable */
:root {
	--primary-color: #ff695f;
	--secondary-color: #03a4ed;
	--white: #fff;
	--grey: #fafafa;
	/* Font */
	--primary-font: "Poppins", sans-serif;
}

/* Body font */
body {
	font-family: var(--primary-font);
}
/* Text colors */
.text-primary {
	color: var(--primary-color) !important;
}
.text-secondary {
	color: var(--secondary-color) !important;
}

/* Background colors */
.bg-primary {
	background-color: var(--primary-color) !important;
}
.bg-secondary {
	background-color: var(--secondary-color) !important;
}
.bg-grey {
	background-color: var(--grey);
}

/* Buttons */
.btn-main {
	background-color: var(--secondary-color) !important;
	color: var(--white) !important;
	transition: all 0.3s !important;
	border-radius: 23px !important;
}
.btn-main:hover {
	background-color: var(--primary-color) !important;
}

.btn-2nd {
	background-color: var(--primary-color) !important;
	color: var(--white) !important;
	transition: all 0.3s !important;
	border-radius: 23px !important;
}
.btn-2nd:hover {
	background-color: var(--secondary-color) !important;
}

/* Hover states */
.main-hover {
	transition: all 0.3s ease 0s !important;
	font-weight: 500;
}
.main-hover:hover {
	color: var(--primary-color) !important;
}

nav .active,
.nav-link.active {
	color: var(--primary-color) !important;
}

/* Others */
a {
	text-decoration: none;
}
.icon-circle {
	padding: 10px;
	border-radius: 50%;
	color: var(--white);
}
.fw-500 {
	font-weight: 600;
}
.btn:focus {
	box-shadow: none;
}
